@font-face {
    font-family: "Boost Next Black";
    src: url('fonts/boost-next-black.woff');
}
@font-face {
    font-family: "Boost Next Heavy";
    src: url('fonts/boost-next-heavy.woff');
}
@font-face {
    font-family: "Boost Next Bold";
    src: url('fonts/boost-next-bold.woff');
}
@font-face {
    font-family: "Boost Next Light";
    src: url('fonts/boost-next-light.woff');
}
@font-face {
    font-family: "Boost Next Regular";
    src: url('fonts/boost-next-regular.woff');
}





.bg-orange{
    background-color: #f68f1e;
}
.text-orange{
    color: #f68f1e;
}
.table-header{
    background-color: #8fc6c4;
    padding:1rem 2rem;
    height: 7rem;
}
.table-grid{
    border-bottom: 1px solid black;
}
.table-grid-special{
    border-bottom: 4px solid black;
}
.jumbotron{
    background-image: url('../assets/BoostVectorBackground_2.png');
    color:#494f54;
}
.jumbotron h1{
     font-family: 'Boost Next Heavy', sans-serif;
    font-size: 7.5rem;

 }
.jumbotron h2 {
     font-family: 'Boost Next Bold', sans-serif;
    font-size: 6rem;

 }


 .prizes .table-header{
     color: #494f54;

 }
 .prizes .table-header h6{
     font-size: 20px;
 }
.prizes .table-header h3{
     font-weight: bold;
    color: black;
 }

 .prizes{
     font-family: 'Open Sans', sans-serif;
 }

.btn-middle{
    padding:  .5rem 1.5rem;
    border-radius: 5rem;

}
.big-text{
    font-size: 48px;
}
.texc-grey{
    font-size: 1.7rem;
    color: #c7c7c7;
}
.bg-button{
    background-color: #3c3f41 ;
}
.bg-button:hover{
    background-color: #535658;
}
.container-light a{
    color:black;
    text-decoration: underline;
    font-size: 2rem;
}

.container-description{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}
.row-description{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color:#494f54;

}
.row-description b{
    font-size: 24px;

}
.second-container h1{
    font-size: 4.3rem;
    font-family:"Boost Next Bold" ;
}
.button-container{
    font-family: 'Open Sans', sans-serif;
}
.orange{

    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #494f54;
}
.orange h1{
    font-size: 4rem;
    font-family: "Boost Next Heavy";

}
.orange h3{
    font-size: 2.5rem;
    font-family: "Boost Next Bold";
}
.container-description p{
    font-size: 1.7rem;
    font-weight: bolder;
}




@media(max-width: 1122px){
    .jumbotron h1{
        font-size:6.5rem ;
    }
    .jumbotron h2{
        font-size: 5rem;
    }
    .big-text{
        font-size: 38px;
    }
    .orange h1{
        font-size: 50px;
    }
    .orange h3{
        font-size: 30px;
    }
    .container-description p{
        font-size: 1.4rem;
    }
}



@media(max-width: 780px){
    .jumbotron figure img{
        width: 500px;
    }
    .jumbotron h1{
        font-size: 60px;
    }
    .jumbotron h2{
        font-size: 45px;
    }
    .second-container h1{
        font-size: 40px;
    }
    .big-text{
        font-size: 28px;
    }
    .texc-grey{
        font-size: 14px;
    }
    .orange h1{
        font-size: 40px;
    }
    .orange h3{
        font-size: 25px;
    }
}
@media(max-width: 540px){
    .jumbotron figure img{
        width: 400px;
    }
    .jumbotron h1{
          font-size: 40px;
      }
    .jumbotron h2{
        font-size: 30px;
    }
    .big-text{
        font-size: 24px;
    }
    .texc-grey{
        font-size: 12px;
    }
    .orange h1{
        font-size: 30px;
    }
    .orange h3{
        font-size: 20px;
    }


}

@media(max-width: 440px){
    .jumbotron figure img{
        width: 300px;
    }
    .jumbotron h1{
        font-size: 35px;
    }
    .jumbotron h2{
        font-size: 25px;
    }
    .second-container h1{
        font-size: 35px;
    }
    .second-container h2{
        font-size: 25px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .table-header{
        height: 13rem;
    }

}
@media (min-width: 992px) and (max-width: 1198px) {
    .table-header{
        height: 10rem;
    }

}
@media (min-width: 780px) and (max-width: 982px) {
    .jumbotron h1{
        font-size: 5rem;
    }
    .jumbotron h2{
        font-size: 4rem;
    }
}
@media (min-width: 540px) and (max-width: 601px) {
 .jumbotron h1{
     font-size: 3.5rem;
 }
 .jumbotron h2{
     font-size:3rem;
 }

}


